Tarea_07/*.Rdata
*.Rhistory
.Rhistory
Tarea_13/Tarea_13_Mario_Becerra_cache/*
Tarea_13/Tarea_13_Mario_Becerra_files/*
Tarea_14/Tarea_14_MarioBecerra_cache/*
Tarea_14/Tarea_14_MarioBecerra_files/*
Tarea_14/Out/*
Trabajo_Final/*