Tarea_07/*.Rdata
*.Rhistory
.Rhistory
Tarea_13/Tarea_13_Mario_Becerra_cache/*
Tarea_13/Tarea_13_Mario_Becerra_files/*
Tarea_14/Tarea_14_MarioBecerra_cache/*
Tarea_14/Tarea_14_MarioBecerra_files/*
Tarea_14/Out/*
Tarea_14/.RData
Examen_1/Examen_1_cache/*
Examen_1/Examen_1_files/*
Examen_1/Guía/*
Trabajo_Final/Datos
Trabajo_Final/Encuestas
Trabajo_Final/R/Análisis_ENIGH_cache
Trabajo_Final/R/Análisis_ENIGH_files
Trabajo_Final/R/.RData